.users {
    border: 3px solid black;
    background: cornflowerblue;
    border-radius: 8px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    margin: 0 auto;
    margin-top: 70px;
  }
  
.users div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Orbitron";
    font-size: 18px; 
    font-weight: bold; 
    padding-right: 30px;
}

.users div p{
    margin: 10px;
}

.users div p:first-child{
    text-transform: uppercase;
}
  
.users button{
    margin-top: 30px;
    background-color:cyan;
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    margin-bottom: 3px;
}
.users button:hover{
    transform: scale(1.5);
    position: relative;
    top: -10px;
}
.filter-bar {
    width: 80%;
    border: 1px solid white;
    border-radius: 4px;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-bar select{
    width: 100%;
}

.filter-bar > .text {
font-weight: 500;
margin-right: 10px;
flex: 0;
}

.select2-container {
flex: 1;
width: 100%;
}
  